.logohome{width:100px;
          height:100px;
          margin-left: 95px;
}
.noidung{
        display: flex;
        margin-left: 85px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        list-style: none;

}
.noidung a{ text-decoration: none;
            transition: transform 0.25s ease, color 0.25s ease;
            display: inline-block;

}
.noidung a:hover {
    transform: scale(1.2); 
    color: #FF00FF;
}
.noidung li{
    margin-right: 25px;}
.dieuhuong {
            top: 0;    
            left: 0;
            background-color: #FFFF99;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;     
            position: fixed; 
            width: 100%;
            }
.dieuhuong-trai { display: flex;
                  align-items: center;
                  font-family: "Arial";
}
.dieuhuong-phai {
            color: #333366;
            font-size: 16px;
            margin-left: 18px;
            margin-right: 218px;
            cursor: pointer;

}
            
.noidungchinh {
    margin-top: 80px; 
    margin-left: 200px;
    margin-right: 200px;
}
.tuongbentrai{
    left: 0;
    top:70px;
    position: fixed;
    width:200px;
    height: 100%;
    background-image :url("images/TUONG.png");
    background-repeat: repeat-y;
    background-size: contain;
}
.tuongbenphai{
    right:0;
    top:70px;
    position: fixed;
    width:200px;
    height: 100%;
    background-image :url("images/TUONG.png");
    background-repeat: repeat-y;
    background-size: contain;
          
}
